# Hands-On Pertemuan 10: Implementasi NoSQL Database - MongoDB

## Tujuan:
- Mengenal konsep dasar dan pengimplementasian database NoSQL, khususnya MongoDB.
- Melakukan berbagai operasi dasar pada MongoDB untuk analisis data.
- Mengasah keterampilan dalam menulis query yang lebih kompleks.

### 1. Menghubungkan ke Database MongoDB
- **Tugas 1**: Pastikan MongoDB telah terpasang dan berjalan. Hubungkan ke MongoDB lokal.

In [ ]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 31.1 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 16.9 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [ ]:
import pymongo
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = pymongo.MongoClient('mongodb+srv://meilyadennia:<password>@cluster0.zls2j.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

### 2. Operasi CRUD Dasar
- **Tugas 2**: Insert, Update, dan Delete data pada koleksi `employees`.

In [ ]:
# Contoh Insert Data
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data)
print('Data inserted')

Data inserted

**Tugas**: Insert beberapa data tambahan, lakukan update, serta delete data

In [ ]:
employee_tambahan = [
    {'name': 'Karina', 'department': 'HR', 'age': 28, 'salary': 4200},
    {'name': 'Wonwoo', 'department': 'IT', 'age': 31, 'salary': 5000},
    {'name': 'Isa', 'department': 'HR', 'age': 25, 'salary': 4100},
    {'name': 'Kemal', 'department': 'Finance', 'age': 27, 'salary': 4700},
    {'name': 'Chien', 'department': 'Sales', 'age': 34, 'salary': 4800},
    {'name': 'Gracheon', 'department': 'IT', 'age': 27, 'salary': 5300},
    {'name': 'Hannah', 'department': 'Marketing', 'age': 26, 'salary': 4500},
    {'name': 'Ian', 'department': 'Finance', 'age': 31, 'salary': 5100},
    {'name': 'Franco', 'department': 'Marketing', 'age': 29, 'salary': 4400}
]
collection.insert_many(employee_tambahan)
print('Data berhasil ditambahkan')

Data berhasil ditambahkan

In [ ]:
collection.update_one(
    {'name': 'Wonwoo'},
    {'$set': {'salary': 5400}}
)
print("Gaji Wonwoo telah diperbarui")

Gaji Wonwoo telah diperbarui

In [ ]:
collection.delete_one({'name': 'Kemal'})
print("Data Kemal telah dihapus")

Data Kemal telah dihapus

In [ ]:
# Contoh Query Data
for employee in collection.find():
    print(employee)

{'_id': ObjectId('672728520acd3781d4fbeec4'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('672728de0acd3781d4fbeec5'), 'name': 'Karina', 'department': 'HR', 'age': 28, 'salary': 4200}
{'_id': ObjectId('672728de0acd3781d4fbeec6'), 'name': 'Wonwoo', 'department': 'IT', 'age': 31, 'salary': 5400}
{'_id': ObjectId('672728de0acd3781d4fbeec7'), 'name': 'Isa', 'department': 'HR', 'age': 25, 'salary': 4100}
{'_id': ObjectId('672728de0acd3781d4fbeec9'), 'name': 'Chien', 'department': 'Sales', 'age': 34, 'salary': 4800}
{'_id': ObjectId('672728de0acd3781d4fbeeca'), 'name': 'Gracheon', 'department': 'IT', 'age': 27, 'salary': 5300}
{'_id': ObjectId('672728de0acd3781d4fbeecb'), 'name': 'Hannah', 'department': 'Marketing', 'age': 26, 'salary': 4500}
{'_id': ObjectId('672728de0acd3781d4fbeecc'), 'name': 'Ian', 'department': 'Finance', 'age': 31, 'salary': 5100}
{'_id': ObjectId('672728de0acd3781d4fbeecd'), 'name': 'Franco', 'department': 'Marketing', 'age': 29, 'salary': 4400}

### 3. Query Lebih Kompleks Menggunakan Aggregation
- **Tugas 3**: Terapkan aggregation untuk menghitung rata-rata gaji per departemen.

In [ ]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Finance', 'average_salary': 4800.0}
{'_id': 'HR', 'average_salary': 4150.0}
{'_id': 'Sales', 'average_salary': 4800.0}
{'_id': 'Marketing', 'average_salary': 4450.0}
{'_id': 'IT', 'average_salary': 5350.0}

### 4. Latihan Tambahan
- **Latihan 4.1**: Buatlah koleksi baru `products` dan masukkan data produk (minimal 10 produk).

In [ ]:
db = client['company_db']
collection = db['products']
products_data = [
    {'name': 'Laptop', 'category': 'Electronics', 'price': 1000},
    {'name': 'Smartphone', 'category': 'Electronics', 'price': 700},
    {'name': 'Headphones', 'category': 'Electronics', 'price': 150},
    {'name': 'Chair', 'category': 'Furniture', 'price': 200},
    {'name': 'Desk', 'category': 'Furniture', 'price': 300},
    {'name': 'Keyboard', 'category': 'Electronics', 'price': 100},
    {'name': 'Book', 'category': 'Stationery', 'price': 20},
    {'name': 'Notebook', 'category': 'Stationery', 'price': 15},
    {'name': 'Pen', 'category': 'Stationery', 'price': 5},
    {'name': 'Monitor', 'category': 'Electronics', 'price': 250}
]
collection.insert_many(products_data)
print('Data berhasil ditambahkan')

Data berhasil ditambahkan

In [ ]:
for products in collection.find():
    print(products)

{'_id': ObjectId('672729ef0acd3781d4fbeece'), 'name': 'Laptop', 'category': 'Electronics', 'price': 1000}
{'_id': ObjectId('672729ef0acd3781d4fbeecf'), 'name': 'Smartphone', 'category': 'Electronics', 'price': 700}
{'_id': ObjectId('672729ef0acd3781d4fbeed0'), 'name': 'Headphones', 'category': 'Electronics', 'price': 150}
{'_id': ObjectId('672729ef0acd3781d4fbeed1'), 'name': 'Chair', 'category': 'Furniture', 'price': 200}
{'_id': ObjectId('672729ef0acd3781d4fbeed2'), 'name': 'Desk', 'category': 'Furniture', 'price': 300}
{'_id': ObjectId('672729ef0acd3781d4fbeed3'), 'name': 'Keyboard', 'category': 'Electronics', 'price': 100}
{'_id': ObjectId('672729ef0acd3781d4fbeed4'), 'name': 'Book', 'category': 'Stationery', 'price': 20}
{'_id': ObjectId('672729ef0acd3781d4fbeed5'), 'name': 'Notebook', 'category': 'Stationery', 'price': 15}
{'_id': ObjectId('672729ef0acd3781d4fbeed6'), 'name': 'Pen', 'category': 'Stationery', 'price': 5}
{'_id': ObjectId('672729ef0acd3781d4fbeed7'), 'name': 'Monitor', 'category': 'Electronics', 'price': 250}

- **Latihan 4.2**: Lakukan query untuk menemukan produk dengan harga di atas rata-rata.

In [ ]:
# Query untuk menghitung rata-rata harga
average_price = collection.aggregate([
    {'$group': {'_id': None, 'average_price': {'$avg': '$price'}}}
])
average_price = list(average_price)[0]['average_price'] # Mengambil nilai rata-rata dari hasil query

# Menampilkan produk dengan harga di atas rata-rata
above_average = collection.find({'price': {'$gt': average_price}})
print(f"Harga rata-rata: {average_price}")
print("Produk dengan harga di atas rata-rata:")
for products in above_average:
    print(products)

Harga rata-rata: None
Produk dengan harga di atas rata-rata:

- **Latihan 4.3**: Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.

In [ ]:
produk_per_category = collection.aggregate([
    {'$group': {'_id': '$category', 'total_products': {'$sum': 1}}}
])

print("Total produk di setiap kategori:")
for category in produk_per_category:
    print(category)

Total produk di setiap kategori:
{'_id': 'Electronics', 'total_products': 5}
{'_id': 'Furniture', 'total_products': 2}
{'_id': 'Stationery', 'total_products': 3}

### 5. Tugas
- **Tugas 1**: Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai.

In [ ]:
# Pindah ke collection employees
db = client['company_db']
collection = db['employees']

In [ ]:
employee_tambahann = [
    {'name': 'Saki', 'department': 'HR', 'age': 28, 'salary': 5250},
    {'name': 'Eula', 'department': 'IT', 'age': 25, 'salary': 3500},
    {'name': 'Dean', 'department': 'HR', 'age': 25, 'salary': 3400},
    {'name': 'Juan', 'department': 'Finance', 'age': 27, 'salary': 4100},
    {'name': 'Jay', 'department': 'Sales', 'age': 21, 'salary': 3100},
    {'name': 'Jake', 'department': 'IT', 'age': 27, 'salary': 4300},
    {'name': 'Kahya', 'department': 'Marketing', 'age': 24, 'salary': 3800},
    {'name': 'Sherly', 'department': 'Finance', 'age': 27, 'salary': 5300},
    {'name': 'Ollie', 'department': 'Marketing', 'age': 22, 'salary': 4100}
]
collection.insert_many(employee_tambahann)
print('Data berhasil ditambahkan')

Data berhasil ditambahkan

In [ ]:
# Aggregation pipeline untuk menemukan 5 karyawan dengan gaji tertinggi dalam setiap departemen
gaji_tertinggi = collection.aggregate([
    {'$sort': {'department': 1, 'salary': -1}},  # Urutkan berdasarkan department dan gaji
    {'$group': {
        '_id': '$department',  # Kelompokkan berdasarkan departemen
        'top_employees': {'$push': {'name': '$name', 'salary': '$salary'}}
    }},
    {'$project': {
        'top_employees': {'$slice': ['$top_employees', 5]}  # Ambil 5 karyawan tertinggi
    }}
])

# Menampilkan hasil dalam format list ke bawah
print("Top 5 employees by salary in each department:")
for department in gaji_tertinggi:
    print(f"\nDepartment: {department['_id']}")
    for employee in department['top_employees']:
        print(f" - Name: {employee['name']}, Salary: {employee['salary']}")

Top 5 employees by salary in each department:

Department: IT
 - Name: Wonwoo, Salary: 5400
 - Name: Gracheon, Salary: 5300
 - Name: Jake, Salary: 4300
 - Name: Eula, Salary: 3500

Department: HR
 - Name: Saki, Salary: 5250
 - Name: Karina, Salary: 4200
 - Name: Isa, Salary: 4100
 - Name: Dean, Salary: 3400

Department: Marketing
 - Name: Hannah, Salary: 4500
 - Name: Franco, Salary: 4400
 - Name: Ollie, Salary: 4100
 - Name: Kahya, Salary: 3800

Department: Finance
 - Name: Sherly, Salary: 5300
 - Name: Ian, Salary: 5100
 - Name: Alice, Salary: 4500
 - Name: Juan, Salary: 4100

Department: Sales
 - Name: Chien, Salary: 4800
 - Name: Jay, Salary: 3100

- **Tugas 2**: Buatlah skenario di mana Anda harus menghapus karyawan yang berusia di bawah 25 tahun dari database.

In [ ]:
underage_25 = collection.delete_many({'age': {'$lt': 25}})
print(f"Menghapus {underage_25.deleted_count} karyawan yang berusia di bawah 25 tahun")

Menghapus 3 karyawan yang berusia di bawah 25 tahun

- **Tugas 3**: Buatlah laporan ringkas (menggunakan MongoDB query) yang menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan.

In [ ]:
# Aggregation pipeline untuk menghitung total gaji dan rata-rata umur per departemen
report = collection.aggregate([
    {'$group': {
        '_id': '$department', # Kelompokkan berdasarkan departemen
        'total_salary': {'$sum': '$salary'}, # Hitung total gaji
        'average_age': {'$avg': '$age'} # Hitung rata-rata umur
    }}
])

print("Total gaji dan rata-rata umur karyawan di setiap departemen:")
for department in report:
    print(f"\nDepartment: {department['_id']}")
    print(f" - Total Gaji: {department['total_salary']}")
    print(f" - Rata-rata Usia: {department['average_age']}")

Total gaji dan rata-rata umur karyawan di setiap departemen:

Department: IT
 - Total Gaji: 18500
 - Rata-rata Usia: 27.5

Department: Finance
 - Total Gaji: 19000
 - Rata-rata Usia: 28.5

Department: Sales
 - Total Gaji: 4800
 - Rata-rata Usia: 34.0

Department: HR
 - Total Gaji: 16950
 - Rata-rata Usia: 26.5

Department: Marketing
 - Total Gaji: 8900
 - Rata-rata Usia: 27.5