# Hands-On Pertemuan 11: Advanced MongoDB Operations and Data Query

## Objectives:
- Dive into advanced query operations and aggregation pipelines in MongoDB.
- Enhance skills in filtering, grouping, and analyzing data with MongoDB.
- Master complex MongoDB operations for real-world data scenarios.

### 1. Advanced CRUD Operations
- **Exercise 1**: Use `bulk_write` to insert, update, and delete multiple documents simultaneously.

In [1]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 6.6 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 11.4 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [2]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

# Establish client connection
client = MongoClient('mongodb+srv://meilyadennia:Ethereal1!@cluster0.zls2j.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0')
db = client['university_db']
courses_collection = db['courses']

# Bulk insert of courses with student enrollments
operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'})
]
courses_collection.bulk_write(operations)
print('Courses inserted successfully.')
for courses in courses_collection.find():
    print(courses)

Courses inserted successfully.
{'_id': ObjectId('6732b81320f20e106c0a0a74'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('6732b81320f20e106c0a0a75'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('6732b81320f20e106c0a0a76'), 'course': 'History 201', 'enrollments': 20, 'department': 'History'}
{'_id': ObjectId('6732b81320f20e106c0a0a77'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'}

In [3]:
# Bulk update of courses with student enrollments
update_operations = [
    UpdateOne({'course': 'Math 101'}, {'$set': {'enrollments': 32}}),
    UpdateOne({'course': 'CS 102'}, {'$set': {'enrollments': 27}})
]
courses_collection.bulk_write(update_operations)
print('Courses updated successfully.')
for courses in courses_collection.find():
    print(courses)

Courses updated successfully.
{'_id': ObjectId('6732b81320f20e106c0a0a74'), 'course': 'Math 101', 'enrollments': 32, 'department': 'Mathematics'}
{'_id': ObjectId('6732b81320f20e106c0a0a75'), 'course': 'CS 102', 'enrollments': 27, 'department': 'Computer Science'}
{'_id': ObjectId('6732b81320f20e106c0a0a76'), 'course': 'History 201', 'enrollments': 20, 'department': 'History'}
{'_id': ObjectId('6732b81320f20e106c0a0a77'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'}

In [4]:
# Bulk delete of courses with student enrollments
delete_operations = [
    DeleteOne({'course': 'History 201'}),
    DeleteOne({'course': 'Physics 202'})
]
courses_collection.bulk_write(delete_operations)
print('Courses deleted successfully.')
for courses in courses_collection.find():
    print(courses)

Courses deleted successfully.
{'_id': ObjectId('6732b81320f20e106c0a0a74'), 'course': 'Math 101', 'enrollments': 32, 'department': 'Mathematics'}
{'_id': ObjectId('6732b81320f20e106c0a0a75'), 'course': 'CS 102', 'enrollments': 27, 'department': 'Computer Science'}

- **Task 1**: Insert a dataset of `courses` where each course has multiple student enrollments, then display the data.

In [5]:
 insert_operations = [
    InsertOne({'course': 'Linear Algebra', 'enrollments': 35, 'department': 'Mathematics'}),
    InsertOne({'course': 'Differential Equations', 'enrollments': 28, 'department': 'Mathematics'}),
    InsertOne({'course': 'Data Structures', 'enrollments': 40, 'department': 'Computer Science'}),
    InsertOne({'course': 'Machine Learning', 'enrollments': 22, 'department': 'Computer Science'}),
    InsertOne({'course': 'Ancient History', 'enrollments': 18, 'department': 'History'}),
    InsertOne({'course': 'Modern European History', 'enrollments': 12, 'department': 'History'}),
    InsertOne({'course': 'Electromagnetism', 'enrollments': 25, 'department': 'Physics'}),
    InsertOne({'course': 'Quantum Physics', 'enrollments': 10, 'department': 'Physics'}),
    InsertOne({'course': 'Advanced Calculus', 'enrollments': 24, 'department': 'Mathematics'}),
    InsertOne({'course': 'Computer Networks', 'enrollments': 15, 'department': 'Computer Science'}),
    InsertOne({'course': 'Thermodynamics', 'enrollments': 8, 'department': 'Physics'})
]

# Perform bulk insert operation
courses_collection.bulk_write(insert_operations)
print('Courses inserted successfully.')

# Print all inserted courses
for courses in courses_collection.find():
    print(courses)

Courses inserted successfully.
{'_id': ObjectId('6732b81320f20e106c0a0a74'), 'course': 'Math 101', 'enrollments': 32, 'department': 'Mathematics'}
{'_id': ObjectId('6732b81320f20e106c0a0a75'), 'course': 'CS 102', 'enrollments': 27, 'department': 'Computer Science'}
{'_id': ObjectId('6732b82d20f20e106c0a0a78'), 'course': 'Linear Algebra', 'enrollments': 35, 'department': 'Mathematics'}
{'_id': ObjectId('6732b82d20f20e106c0a0a79'), 'course': 'Differential Equations', 'enrollments': 28, 'department': 'Mathematics'}
{'_id': ObjectId('6732b82d20f20e106c0a0a7a'), 'course': 'Data Structures', 'enrollments': 40, 'department': 'Computer Science'}
{'_id': ObjectId('6732b82d20f20e106c0a0a7b'), 'course': 'Machine Learning', 'enrollments': 22, 'department': 'Computer Science'}
{'_id': ObjectId('6732b82d20f20e106c0a0a7c'), 'course': 'Ancient History', 'enrollments': 18, 'department': 'History'}
{'_id': ObjectId('6732b82d20f20e106c0a0a7d'), 'course': 'Modern European History', 'enrollments': 12, 'department': 'History'}
{'_id': ObjectId('6732b82d20f20e106c0a0a7e'), 'course': 'Electromagnetism', 'enrollments': 25, 'department': 'Physics'}
{'_id': ObjectId('6732b82d20f20e106c0a0a7f'), 'course': 'Quantum Physics', 'enrollments': 10, 'department': 'Physics'}
{'_id': ObjectId('6732b82d20f20e106c0a0a80'), 'course': 'Advanced Calculus', 'enrollments': 24, 'department': 'Mathematics'}
{'_id': ObjectId('6732b82d20f20e106c0a0a81'), 'course': 'Computer Networks', 'enrollments': 15, 'department': 'Computer Science'}
{'_id': ObjectId('6732b82d20f20e106c0a0a82'), 'course': 'Thermodynamics', 'enrollments': 8, 'department': 'Physics'}

### 2. Complex Filtering and Querying
- **Exercise 2**: Filter courses with enrollments over 20 students.

In [6]:
# Query for courses with enrollments greater than 20
print("Courses with enrollments over 20 students:")
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)

Courses with enrollments over 20 students:
{'_id': ObjectId('6732b81320f20e106c0a0a74'), 'course': 'Math 101', 'enrollments': 32, 'department': 'Mathematics'}
{'_id': ObjectId('6732b81320f20e106c0a0a75'), 'course': 'CS 102', 'enrollments': 27, 'department': 'Computer Science'}
{'_id': ObjectId('6732b82d20f20e106c0a0a78'), 'course': 'Linear Algebra', 'enrollments': 35, 'department': 'Mathematics'}
{'_id': ObjectId('6732b82d20f20e106c0a0a79'), 'course': 'Differential Equations', 'enrollments': 28, 'department': 'Mathematics'}
{'_id': ObjectId('6732b82d20f20e106c0a0a7a'), 'course': 'Data Structures', 'enrollments': 40, 'department': 'Computer Science'}
{'_id': ObjectId('6732b82d20f20e106c0a0a7b'), 'course': 'Machine Learning', 'enrollments': 22, 'department': 'Computer Science'}
{'_id': ObjectId('6732b82d20f20e106c0a0a7e'), 'course': 'Electromagnetism', 'enrollments': 25, 'department': 'Physics'}
{'_id': ObjectId('6732b82d20f20e106c0a0a80'), 'course': 'Advanced Calculus', 'enrollments': 24, 'department': 'Mathematics'}

- **Task 2**: Retrieve and display courses only from the 'Computer Science' or 'Mathematics' departments.

In [7]:
# Query courses in Computer Science or Mathematics departments
print("Courses in Computer Science or Mathematics departments:")
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(course)

Courses in Computer Science or Mathematics departments:
{'_id': ObjectId('6732b81320f20e106c0a0a74'), 'course': 'Math 101', 'enrollments': 32, 'department': 'Mathematics'}
{'_id': ObjectId('6732b81320f20e106c0a0a75'), 'course': 'CS 102', 'enrollments': 27, 'department': 'Computer Science'}
{'_id': ObjectId('6732b82d20f20e106c0a0a78'), 'course': 'Linear Algebra', 'enrollments': 35, 'department': 'Mathematics'}
{'_id': ObjectId('6732b82d20f20e106c0a0a79'), 'course': 'Differential Equations', 'enrollments': 28, 'department': 'Mathematics'}
{'_id': ObjectId('6732b82d20f20e106c0a0a7a'), 'course': 'Data Structures', 'enrollments': 40, 'department': 'Computer Science'}
{'_id': ObjectId('6732b82d20f20e106c0a0a7b'), 'course': 'Machine Learning', 'enrollments': 22, 'department': 'Computer Science'}
{'_id': ObjectId('6732b82d20f20e106c0a0a80'), 'course': 'Advanced Calculus', 'enrollments': 24, 'department': 'Mathematics'}
{'_id': ObjectId('6732b82d20f20e106c0a0a81'), 'course': 'Computer Networks', 'enrollments': 15, 'department': 'Computer Science'}

### 3. Aggregation Framework for Data Analysis
- **Exercise 3**: Use aggregation to find the average enrollment per department.

In [8]:
# Average enrollment per department using aggregation
print("Average enrollment per department:")
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

Average enrollment per department:
{'_id': 'Mathematics', 'average_enrollment': 29.75}
{'_id': 'Computer Science', 'average_enrollment': 26.0}
{'_id': 'History', 'average_enrollment': 15.0}
{'_id': 'Physics', 'average_enrollment': 14.333333333333334}

- **Task 3**: Create an aggregation pipeline that finds the maximum enrollment for each department.

In [9]:
# Maximum enrollment per department
print("Maximum enrollment per department:")
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

Maximum enrollment per department:
{'_id': 'Mathematics', 'max_enrollment': 35}
{'_id': 'Computer Science', 'max_enrollment': 40}
{'_id': 'History', 'max_enrollment': 18}
{'_id': 'Physics', 'max_enrollment': 25}

### 4. Data Transformation using `$project` and `$addFields`

- **Exercise 4**: Use `$project` to rename and only show fields: `course_name`, `department_name`, and `enrollments`.

In [10]:
# Projection to rename fields
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('6732b81320f20e106c0a0a74'), 'enrollments': 32, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('6732b81320f20e106c0a0a75'), 'enrollments': 27, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('6732b82d20f20e106c0a0a78'), 'enrollments': 35, 'course_name': 'Linear Algebra', 'department_name': 'Mathematics'}
{'_id': ObjectId('6732b82d20f20e106c0a0a79'), 'enrollments': 28, 'course_name': 'Differential Equations', 'department_name': 'Mathematics'}
{'_id': ObjectId('6732b82d20f20e106c0a0a7a'), 'enrollments': 40, 'course_name': 'Data Structures', 'department_name': 'Computer Science'}
{'_id': ObjectId('6732b82d20f20e106c0a0a7b'), 'enrollments': 22, 'course_name': 'Machine Learning', 'department_name': 'Computer Science'}
{'_id': ObjectId('6732b82d20f20e106c0a0a7c'), 'enrollments': 18, 'course_name': 'Ancient History', 'department_name': 'History'}
{'_id': ObjectId('6732b82d20f20e106c0a0a7d'), 'enrollments': 12, 'course_name': 'Modern European History', 'department_name': 'History'}
{'_id': ObjectId('6732b82d20f20e106c0a0a7e'), 'enrollments': 25, 'course_name': 'Electromagnetism', 'department_name': 'Physics'}
{'_id': ObjectId('6732b82d20f20e106c0a0a7f'), 'enrollments': 10, 'course_name': 'Quantum Physics', 'department_name': 'Physics'}
{'_id': ObjectId('6732b82d20f20e106c0a0a80'), 'enrollments': 24, 'course_name': 'Advanced Calculus', 'department_name': 'Mathematics'}
{'_id': ObjectId('6732b82d20f20e106c0a0a81'), 'enrollments': 15, 'course_name': 'Computer Networks', 'department_name': 'Computer Science'}
{'_id': ObjectId('6732b82d20f20e106c0a0a82'), 'enrollments': 8, 'course_name': 'Thermodynamics', 'department_name': 'Physics'}

- **Task 4**: Use `$addFields` to create a new field `enrollment_category` where enrollments > 20 are 'high' and others 'low'.

In [11]:
# Adding enrollment category field based on enrollments
print("Adding enrollment category field:")
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

Adding enrollment category field:
{'_id': ObjectId('6732b81320f20e106c0a0a74'), 'course': 'Math 101', 'enrollments': 32, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('6732b81320f20e106c0a0a75'), 'course': 'CS 102', 'enrollments': 27, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('6732b82d20f20e106c0a0a78'), 'course': 'Linear Algebra', 'enrollments': 35, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('6732b82d20f20e106c0a0a79'), 'course': 'Differential Equations', 'enrollments': 28, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('6732b82d20f20e106c0a0a7a'), 'course': 'Data Structures', 'enrollments': 40, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('6732b82d20f20e106c0a0a7b'), 'course': 'Machine Learning', 'enrollments': 22, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('6732b82d20f20e106c0a0a7c'), 'course': 'Ancient History', 'enrollments': 18, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('6732b82d20f20e106c0a0a7d'), 'course': 'Modern European History', 'enrollments': 12, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('6732b82d20f20e106c0a0a7e'), 'course': 'Electromagnetism', 'enrollments': 25, 'department': 'Physics', 'enrollment_category': 'high'}
{'_id': ObjectId('6732b82d20f20e106c0a0a7f'), 'course': 'Quantum Physics', 'enrollments': 10, 'department': 'Physics', 'enrollment_category': 'low'}
{'_id': ObjectId('6732b82d20f20e106c0a0a80'), 'course': 'Advanced Calculus', 'enrollments': 24, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('6732b82d20f20e106c0a0a81'), 'course': 'Computer Networks', 'enrollments': 15, 'department': 'Computer Science', 'enrollment_category': 'low'}
{'_id': ObjectId('6732b82d20f20e106c0a0a82'), 'course': 'Thermodynamics', 'enrollments': 8, 'department': 'Physics', 'enrollment_category': 'low'}

### Homework for Students
- **Homework 1**: Perform an aggregation to get a count of courses per department.

In [12]:
# Aggregation to get a count of courses per department
print("Count of courses per department:")
count_pipeline = [
    {'$group': {'_id': '$department', 'course_count': {'$sum': 1}}}
]
for result in courses_collection.aggregate(count_pipeline):
    print(result)

Count of courses per department:
{'_id': 'Physics', 'course_count': 3}
{'_id': 'Computer Science', 'course_count': 4}
{'_id': 'Mathematics', 'course_count': 4}
{'_id': 'History', 'course_count': 2}

- **Homework 2**: Use `$match` and `$group` together to filter and get only courses with enrollments over 25 in 'Computer Science'.

In [13]:
# Getting only courses with enrollments over 25 in 'Computer Science'
print("Courses with enrollments over 25 in Computer Science:")
enrollments_pipeline = [
    {'$match': {'department': 'Computer Science', 'enrollments': {'$gt': 25}}},
    {'$group': {'_id': '$course', 'total_enrollments': {'$sum': '$enrollments'}}}
]
for result in courses_collection.aggregate(enrollments_pipeline):
    print(result)

Courses with enrollments over 25 in Computer Science:
{'_id': 'Data Structures', 'total_enrollments': 40}
{'_id': 'CS 102', 'total_enrollments': 27}

- **Homework 3**: Apply `$lookup` to join `courses` collection with `students` collection based on student enrollments.

In [14]:
# Make students collection
db = client['university_db']
students_collection = db['students']

# Bulk insert of students
students_operations = [
    InsertOne({'name': 'Alice Johnson', 'age': 20, 'major': 'Mathematics', 'enrolled_courses': ['Linear Algebra', 'Differential Equations']}),
    InsertOne({'name': 'Bob Smith', 'age': 22, 'major': 'Computer Science', 'enrolled_courses': ['Data Structures', 'Machine Learning']}),
    InsertOne({'name': 'Clara Evans', 'age': 21, 'major': 'History', 'enrolled_courses': ['Ancient History', 'Modern European History']}),
    InsertOne({'name': 'Daniel Lee', 'age': 23, 'major': 'Physics', 'enrolled_courses': ['Electromagnetism', 'Quantum Physics']}),
    InsertOne({'name': 'Eva Martinez', 'age': 20, 'major': 'Mathematics', 'enrolled_courses': ['Linear Algebra', 'Differential Equations']}),
    InsertOne({'name': 'Frank Brown', 'age': 22, 'major': 'Computer Science', 'enrolled_courses': ['Data Structures', 'Machine Learning']}),
    InsertOne({'name': 'Grace Wilson', 'age': 21, 'major': 'History', 'enrolled_courses': ['Modern European History', 'World Civilizations']}),
    InsertOne({'name': 'Henry Taylor', 'age': 24, 'major': 'Physics', 'enrolled_courses': ['Quantum Physics', 'Thermodynamics']}),
    InsertOne({'name': 'Isabella Anderson', 'age': 22, 'major': 'Mathematics', 'enrolled_courses': ['Advanced Calculus', 'Linear Algebra']}),
    InsertOne({'name': 'Jack Thomas', 'age': 23, 'major': 'Computer Science', 'enrolled_courses': ['Intro to Programming', 'Computer Networks']}),
    InsertOne({'name': 'Katherine Moore', 'age': 21, 'major': 'History', 'enrolled_courses': ['Ancient History', 'Modern European History']}),
    InsertOne({'name': 'Liam Scott', 'age': 22, 'major': 'Physics', 'enrolled_courses': ['Electromagnetism', 'Thermodynamics']}),
    InsertOne({'name': 'Mia Young', 'age': 20, 'major': 'Mathematics', 'enrolled_courses': ['Differential Equations', 'Advanced Calculus']}),
    InsertOne({'name': 'Noah Martinez', 'age': 23, 'major': 'Computer Science', 'enrolled_courses': ['Machine Learning', 'Computer Networks']}),
    InsertOne({'name': 'Olivia Jackson', 'age': 21, 'major': 'Physics', 'enrolled_courses': ['Classical Mechanics', 'Quantum Physics']})
]

students_collection.bulk_write(students_operations)
print('Students inserted successfully.')

# Retrieve and print all documents in the students collection
for student in students_collection.find():
    print(student)

Students inserted successfully.
{'_id': ObjectId('6732b8d620f20e106c0a0a83'), 'name': 'Alice Johnson', 'age': 20, 'major': 'Mathematics', 'enrolled_courses': ['Linear Algebra', 'Differential Equations']}
{'_id': ObjectId('6732b8d620f20e106c0a0a84'), 'name': 'Bob Smith', 'age': 22, 'major': 'Computer Science', 'enrolled_courses': ['Data Structures', 'Machine Learning']}
{'_id': ObjectId('6732b8d620f20e106c0a0a85'), 'name': 'Clara Evans', 'age': 21, 'major': 'History', 'enrolled_courses': ['Ancient History', 'Modern European History']}
{'_id': ObjectId('6732b8d620f20e106c0a0a86'), 'name': 'Daniel Lee', 'age': 23, 'major': 'Physics', 'enrolled_courses': ['Electromagnetism', 'Quantum Physics']}
{'_id': ObjectId('6732b8d620f20e106c0a0a87'), 'name': 'Eva Martinez', 'age': 20, 'major': 'Mathematics', 'enrolled_courses': ['Linear Algebra', 'Differential Equations']}
{'_id': ObjectId('6732b8d620f20e106c0a0a88'), 'name': 'Frank Brown', 'age': 22, 'major': 'Computer Science', 'enrolled_courses': ['Data Structures', 'Machine Learning']}
{'_id': ObjectId('6732b8d620f20e106c0a0a89'), 'name': 'Grace Wilson', 'age': 21, 'major': 'History', 'enrolled_courses': ['Modern European History', 'World Civilizations']}
{'_id': ObjectId('6732b8d620f20e106c0a0a8a'), 'name': 'Henry Taylor', 'age': 24, 'major': 'Physics', 'enrolled_courses': ['Quantum Physics', 'Thermodynamics']}
{'_id': ObjectId('6732b8d620f20e106c0a0a8b'), 'name': 'Isabella Anderson', 'age': 22, 'major': 'Mathematics', 'enrolled_courses': ['Advanced Calculus', 'Linear Algebra']}
{'_id': ObjectId('6732b8d620f20e106c0a0a8c'), 'name': 'Jack Thomas', 'age': 23, 'major': 'Computer Science', 'enrolled_courses': ['Intro to Programming', 'Computer Networks']}
{'_id': ObjectId('6732b8d620f20e106c0a0a8d'), 'name': 'Katherine Moore', 'age': 21, 'major': 'History', 'enrolled_courses': ['Ancient History', 'Modern European History']}
{'_id': ObjectId('6732b8d620f20e106c0a0a8e'), 'name': 'Liam Scott', 'age': 22, 'major': 'Physics', 'enrolled_courses': ['Electromagnetism', 'Thermodynamics']}
{'_id': ObjectId('6732b8d620f20e106c0a0a8f'), 'name': 'Mia Young', 'age': 20, 'major': 'Mathematics', 'enrolled_courses': ['Differential Equations', 'Advanced Calculus']}
{'_id': ObjectId('6732b8d620f20e106c0a0a90'), 'name': 'Noah Martinez', 'age': 23, 'major': 'Computer Science', 'enrolled_courses': ['Machine Learning', 'Computer Networks']}
{'_id': ObjectId('6732b8d620f20e106c0a0a91'), 'name': 'Olivia Jackson', 'age': 21, 'major': 'Physics', 'enrolled_courses': ['Classical Mechanics', 'Quantum Physics']}

In [16]:
# Join course with students collection based on students enrollments
pipeline = [
    {
        "$lookup": {
            "from": "courses", # Koleksi yang akan digabungkan (courses)
            "localField": "enrollments", # Field di koleksi students (enrollments)
            "foreignField": "course", # Field di koleksi courses (course_id)
            "as": "enrolled_courses"  # Hasil gabungan akan disimpan di sini
        }
    }
]

results = db.students.aggregate(pipeline)
for student in results:
    print(student)

{'_id': ObjectId('6732b8d620f20e106c0a0a83'), 'name': 'Alice Johnson', 'age': 20, 'major': 'Mathematics', 'enrolled_courses': []}
{'_id': ObjectId('6732b8d620f20e106c0a0a84'), 'name': 'Bob Smith', 'age': 22, 'major': 'Computer Science', 'enrolled_courses': []}
{'_id': ObjectId('6732b8d620f20e106c0a0a85'), 'name': 'Clara Evans', 'age': 21, 'major': 'History', 'enrolled_courses': []}
{'_id': ObjectId('6732b8d620f20e106c0a0a86'), 'name': 'Daniel Lee', 'age': 23, 'major': 'Physics', 'enrolled_courses': []}
{'_id': ObjectId('6732b8d620f20e106c0a0a87'), 'name': 'Eva Martinez', 'age': 20, 'major': 'Mathematics', 'enrolled_courses': []}
{'_id': ObjectId('6732b8d620f20e106c0a0a88'), 'name': 'Frank Brown', 'age': 22, 'major': 'Computer Science', 'enrolled_courses': []}
{'_id': ObjectId('6732b8d620f20e106c0a0a89'), 'name': 'Grace Wilson', 'age': 21, 'major': 'History', 'enrolled_courses': []}
{'_id': ObjectId('6732b8d620f20e106c0a0a8a'), 'name': 'Henry Taylor', 'age': 24, 'major': 'Physics', 'enrolled_courses': []}
{'_id': ObjectId('6732b8d620f20e106c0a0a8b'), 'name': 'Isabella Anderson', 'age': 22, 'major': 'Mathematics', 'enrolled_courses': []}
{'_id': ObjectId('6732b8d620f20e106c0a0a8c'), 'name': 'Jack Thomas', 'age': 23, 'major': 'Computer Science', 'enrolled_courses': []}
{'_id': ObjectId('6732b8d620f20e106c0a0a8d'), 'name': 'Katherine Moore', 'age': 21, 'major': 'History', 'enrolled_courses': []}
{'_id': ObjectId('6732b8d620f20e106c0a0a8e'), 'name': 'Liam Scott', 'age': 22, 'major': 'Physics', 'enrolled_courses': []}
{'_id': ObjectId('6732b8d620f20e106c0a0a8f'), 'name': 'Mia Young', 'age': 20, 'major': 'Mathematics', 'enrolled_courses': []}
{'_id': ObjectId('6732b8d620f20e106c0a0a90'), 'name': 'Noah Martinez', 'age': 23, 'major': 'Computer Science', 'enrolled_courses': []}
{'_id': ObjectId('6732b8d620f20e106c0a0a91'), 'name': 'Olivia Jackson', 'age': 21, 'major': 'Physics', 'enrolled_courses': []}